// API Key

// Screen Width

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1279px;
$min-desktop-width: 1280px;

// Primary Colours

$primary-one: #F7CAC9;
$primary-two: #ADD8E6;
$primary-three: #AFAFAF;
$primary-brown: #8B4513;

// Secondary Colours

$secondary-one: #8B4513;
$secondary-two: #0065AD;
$secondary-three: #E1E1E1;


// Fonts Sizes

$fontsize-td-page-header: 2.0625rem;
$fontsize-td-section-header: .75rem;
$fontsize-td-sub-header: .875rem;
$fontsize-td-body: .875rem;
$fontsize-td-button-label: .75rem;

$fontsize-mob-page-header: 1.5rem;
$fontsize-mob-section-header: .75rem;
$fontsize-mob-sub-header: .8125rem;
$fontsize-mob-body: 0.8125rem;
$fontsize-mob-button-label: .625rem;

// Line Height Sizes

$lh-td-page-header: 2.75rem;
$lh-td-section-header: 1.25rem;
$lh-td-sub-header: 1.375rem;
$lh-td-body: 1.375rem;
$lh-td-button-label: .75rem;

$lh-mob-page-header: 1.5rem;
$lh-mob-section-header: .75rem;
$lh-mob-sub-header: 1.375rem;
$lh-mob-body: 1.125rem;
$lh-mob-button-label: 1.125rem;
