@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.items-panel{
    border-top: 2px solid $secondary-three;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    height: 10rem;
    width: 100%;
    flex-direction: flex-wrap;
    font-family: "Avenir", "sans-serif";


}

.items-grid--title{
    color: black;
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    padding: 1.5rem 0 1rem 0;
    font-size: 17px;


}

.productList__card{
list-style: none;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap: 1rem;

    @include tablet {
      gap: 2rem;
    }
  }

