@use "../../styles/variables" as *;
@use "../..//styles/mixins" as *;
@use "../../styles/typography" as *;

.trimester__cards{
    display: flex;
    flex-direction: column;
    align-self:center;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
}

.title{
    font-size: 32px;
    font-family: "Avenir", "sans-serif";
    font-weight: 400;
    text-align: center;
}

.sub-header{
    font-size: 17px;
    font-family: "Avenir", "sans-serif";
    font-weight: 600;
    text-align: center;
    margin: unset;
    padding-top: 4rem;
}

.hook{
    font-size: 12;
    font-family: "Avenir", "sans-serif";
    font-weight: 400;
    text-align: center;
    margin: unset;
}

.trimester__cards-item {
    height: 5rem;
    font-family: "Avenir", "sans-serif";
    color: #36454f;
    border-radius: 1rem;
    font-weight: 600;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 20px;

    &--green{
        background-color: #D4F3B7;
    }

    &--pink{
        background-color: $primary-one;
    }

    &--blue{
        background-color: lightblue;
    }




}
